<h1>Listing Food</h1>
<table>
<tr>
<th><Firstname/th>
<th>Lastname</th>
<th> Deparment</th>
<th>Timein</th>
<th>Timeout</th>
<th><Notification/th>
</tr>

<% @courses.each do |course| %>
<tr>
  <td><%=  employee.Firstname %></td>
  <td><%= employee.Lastname  %></td>
  <td><%= employee.Deparment %></td>
  <td><%= employee.Timein %></td>
  <td><%= employee.Timeout  %></td>
  <td><%= employee.Notification %></td>
  <td><%= link_to 'Show', employee %></td>
  <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
  <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
