<html>
<head>
  <title>Course Page</title>
</head>
<body>
<p>
  <b>department:</b>  <%= @course.department%>
</p>
<p>
  <b>number:</b>  <%= @course.number %>
</p>
<p>
  <b>title:</b>   <%= @course.title %>
</p>
<p>
  <b>size:</b> <%= @course.size %>
</p>
<p>
  <b>hours:</b>  <%= @course.hours %>
</p>
<p>
  <b>teacher:</b> <%= @course.teacher %>
</p>

</body>
</html>